.main-content {
  h2 {
    counter-reset: list-item;
  }

  ol {
    counter-reset: none;

    > li {
      &::before {
        content: counter(list-item) ".";
        counter-increment: none;
      }
    }

    ol {
      counter-reset: none;

      > li {
        &::before {
          content: counter(list-item, lower-alpha) ".";
          counter-increment: none;
        }
      }
    }
  }
}