.main-content {
  div {
    counter-reset: list-item;
  }

  ol {
    counter-reset: none;

    > li {
      content: counter(list-item) ".";
      counter-increment: list-item;
    }

    ol {
      counter-reset: none;

      > li {
        &::before {
          content: counter(list-item, lower-alpha) ".";
          counter-increment: list-item;
        }
      }
    }
  }
}